In [22]:
import pandas as pd
import tiktoken

In [33]:
path = '/home/elastic/notebooks/data/bible/kjv_bible.txt'
encoder = tiktoken.get_encoding('cl100k_base')

In [34]:
df = pd.read_csv(path, delimiter='\t', usecols=[1], skiprows=2, header=None)

In [35]:
df

                                                       1
0      In the beginning God created the heaven and th...
1      And the earth was without form, and void; and ...
2      And God said, Let there be light: and there wa...
3      And God saw the light, that [it was] good: and...
4      And God called the light Day, and the darkness...
...                                                  ...
31097  And the Spirit and the bride say, Come. And le...
31098  For I testify unto every man that heareth the ...
31099  And if any man shall take away from the words ...
31100  He which testifieth these things saith, Surely...
31101  The grace of our Lord Jesus Christ [be] with y...

[31102 rows x 1 columns]

In [36]:
text = df[1].values.tolist()

In [37]:
full_text = ' '.join(text)

In [38]:
len(full_text)

4186382

In [39]:
len(encoder.encode(full_text))

1038772

#### Approximately 1 million tokens in the bible (without chapter/verse headings)